<div class="clients"> 

  <ul class = "nav nav-tabs">
      <li class="active"> <a href="http://localhost:3000/pages/home">Home</a></li>
      <li><a href="http://localhost:3000/pages/services">Services</a></li>
      <li><a href="http://localhost:3000/pages/clients">Clients</a></li>
      <li><a href="http://localhost:3000/pages/contact">Contacts</a></li>
    
  </ul>




  <h2>Lets see</h2>

		
	</div >

<p>{{ someText }}</p>