<div class="contacts"> 

  <ul class = "nav nav-tabs">
      <li><a href="http://localhost:3000/pages/home" id="home" onMouseOver="nyumbani()" onMouseOut="nyumbani2()">Home</a></li>
      <li><a href="http://localhost:3000/pages/services" id="services" onMouseOver="huduma()" onMouseOut="huduma2()">Services</a></li>
      <li><a href="http://localhost:3000/pages/clients" id="clients" onMouseOver="wateja()" onMouseOut="wateja2()">Clients</a></li>
      <li><a href="http://localhost:3000/pages/contact" id="contacts" onMouseOver="mawasiliano()" onMouseOut="mawasiliano2()">Contacts</a></li>
    
  </ul>

 
		
	</div >

