
<div class="container-fluid">

<div class="main"> 

  <ul class = "nav nav-tabs">
      <li class="active"> <a href="http://localhost:3000/pages/home">Home</a></li>
      <li><a href="http://localhost:3000/pages/services">Services</a></li>
      <li><a href="http://localhost:3000/pages/clients">Clients</a></li>
      <li><a href="http://localhost:3000/pages/contact">Contacts</a></li>
    
  </ul>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>




  <h1>ChiTeq Web Constultants</h1>

  <br/>


  <h2>Your Small Project is our Speciality </h2>
		
	</div >

</div>

<div class="container">

	<h2> Modernize your site, increase revenue exponentially</h2>

      <p>Our Professional services will deliver you a product that is eye catching, modern, and interactive for your clients. People often judge the professionalism of a company by their Webbsite and we will ensure that your site portrays an image of quality.</p>

</div>	

<div>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
      	<h3>Complete Website Set Up</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://cdn.instantshift.com/media/uploads/2013/11/website_redesign.jpg">

      <div class="carousel-caption">
      	<h3>Site Overhaul and Improvement</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
      	<h3> Extremely Affordable</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
        <h3> Extremely Affordable</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
        <h3> Extremely Affordable</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

</div>

<br/>
<br/>

<div class="container">

  <div class= "row"> 
    <div class="col-md-4">

    <h2>About Us</h2>
    
    <ul>
      <li>Something.</li>

      <li>Something.</li>

      <li>Something.</li>

      <li>Something.</li>
     </ul> 
  
  </div>

  <div class="col-md-4">

    <h2>Services</h2>
  <ul>
      <li>Something.</li>

      <li>Something.</li>

      <li>Something.</li>

      <li>Something.</li>
    </ul> 

   </div> 

  <div class="col-md-4">

    <h2>Why Us</h2>
    <ul>
      <li>Something.</li>

      <li>Something.</li>

      <li>Something.</li>

      <li>Something.</li>
     </ul> 
  </div>

  </div>

  </div>


<p class= "text-justify"> Et amet diceret eruditi mei. Primis mollis ancillae eu est. Ea sit populo tractatos scripserit, mollis tacimates mei at. Pro quando dolorem ex. Pri adhuc sonet officiis an, id populo complectitur mea, veri error accommodare qui ne. Erant tamquam sapientem ius ei, et altera quidam delectus eam. Ubique ceteros singulis his ex, te sea viris delenit.</p>

<p class="">Tibique splendide ne eum, cu omittam blandit patrioque pri, est omittam deserunt in. Mea tacimates sententiae in. Id pri quem alia reque, et feugait scaevola deterruisset est, te eum vidisse ornatus admodum. Minimum aliquando definitiones et est, ea vel graecis platonem perpetua.</p>

</div>
