<div class="main"> 

  <ul class = "nav nav-tabs">
      <li><a href="http://localhost:3000/pages/home" id="home" onMouseOver="nyumbani()" onMouseOut="nyumbani2()">Home</a></li>
      <li><a href="http://localhost:3000/pages/services" id="services" onMouseOver="huduma()" onMouseOut="huduma2()">Services</a></li>
      <li><a href="http://localhost:3000/pages/clients" id="clients" onMouseOver="wateja()" onMouseOut="wateja2()">Clients</a></li>
      <li><a href="http://localhost:3000/pages/contact" id="contacts" onMouseOver="mawasiliano()" onMouseOut="mawasiliano2()">Contact Us</a></li>
      
    
  </ul>

  <br/>
  <br/>
  <br/>




  <h1>ChiTeq Web Consultants</h1>

  <br/>


  <h2 id ="color" onMouseOver ="highlight()" onMouseOut="highlight2()">Your Small Project is our Speciality </h2>

		
	</div >
</div>


</div>



<div>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
      	<h3>Complete Website Set Up</h3><span><li id="phone" onMouseOver="simu()" onMouseOut=   "simu2()"> We also do this </li> <li> We also do this </li> <li> We also do this </li></span>
      </div>
    </div>
    <div class="item">
      <img src="http://cdn.instantshift.com/media/uploads/2013/11/website_redesign.jpg">

      <div class="carousel-caption">
      	<h3>Site Overhaul and Improvement</h3><span><li> We also do this </li> <li> We also do this </li> <li> We also do this </li> <li> We also do this </li><li> We also do this </li> <li> We also do this </li> <li> We also do this </li> <li> We also do this </li></span>
      </div>
    </div>
    <div class="item">
      <img src="http://www.tvrepairplus.com/smartphones.gif" alt="...">
      <div class="carousel-caption">
      	<h3> Mobile Solutions</h3><span><li> We also do this </li> <li> We also do this </li> <li> We also do this </li> <li> We also do this </li><li> We also do this </li> <li> We also do this </li> <li> We also do this </li> <li> We also do this </li></span>
      </div>
    </div>
    <div class="item">
      <img src="http://www.australiacallcentres.com/wp-content/uploads/2014/07/softwareDevelopment.jpg" alt="...">
      <div class="carousel-caption">
        <h3> Extremely Affordable</h3><span><li> We also do this </li> <li> We also do this </li> <li> We also do this </li> <li> We also do this </li><li> We also do this </li> <li> We also do this </li> <li> We also do this </li> <li> We also do this </li></span>
      </div>
    </div>
    <div class="item">
      <img src="http://technosoftwares.com/wp-content/uploads/2014/06/web-develop-feature-img.jpg" alt="...">
      <div class="carousel-caption">
        <h3> Extremely Affordable</h3><span><li> We also do this </li> <li> We also do this </li> <li> We also do this </li> <li> We also do this </li><li> We also do this </li> <li> We also do this </li> <li> We also do this </li> <li> We also do this </li></span>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

</div>

<br/>
<br/>

<div>

  <div class="row"> 
    <div class="col-md-4">

    <h2>Services</h2>
    
        <li>Web Development</li>

        <li>Mobile Apps</li>

        <li>Sofware Developent</li>

        <li>Site Overhaul and Upgrade</li>
    
  </div>
  
      <div class="col-md-4">

          <h2>About Us</h2>
  
              <li>Something.</li>

              <li>Something.</li>

              <li>Something.</li>

              <li>Something.</li>

      </div> 

  <div class="col-md-4">

      <h2>Why Us</h2>
    
            <li>Something.</li>

            <li>Something.</li>

            <li>Something.</li>

            <li>Something.</li>
      
    </div>

  </div>

  </div>

  </div>  
