
<div class="services"> 

  <ul class = "nav nav-tabs">
      <li><a href="http://localhost:3000/pages/home" id="home" onMouseOver="nyumbani()" onMouseOut="nyumbani2()">Home</a></li>
      <li><a href="http://localhost:3000/pages/services" id="services" onMouseOver="huduma()" onMouseOut="huduma2()">Services</a></li>
      <li><a href="http://localhost:3000/pages/clients" id="clients" onMouseOver="wateja()" onMouseOut="wateja2()">Clients</a></li>
      <li><a href="http://localhost:3000/pages/contact" id="contacts" onMouseOver="mawasiliano()" onMouseOut="mawasiliano2()">Contacts</a></li>
    
  </ul>
  

  <p> Depending on the extend of work you expect from your site, we have a wide range of price options for you to choose from. Just us know what you're looking for and we're always happy to work with you help you stretch that dollar for get your dream site </p>

  <p> In the meantime, here's a rough idea of what we do so you can have an idea </p>

  <h1>Web Development</h1>

  <h2>5 Page Customer Site - $20000000</h2>

  <p> We'll create a complete customized 5 page site from scratch for you for a one time price of $2000. This will include buying the domain name and paying for hosting services for your site for up to one year. All you have to do is let us know what you want, give us the complete information about your business, photos, etc, and let us do the rest.</p>
  <p>Any other additional maintance work on the site will be taken care of at a low low rate of $45 an hour. This includes such things as uploading any new information on your site, new photos, promotions, etc. Whatever changes you want on the site can be accomodated at that rate.</p>

  </div >



		CHICAGO IT CONSULTING
We apply proven IT Consulting principles and work with you to provide detailed proposals outlining the scope, timeline, tasks and costs associated with your project.

IT Consulting Projects Include:

Upgrades and Migrations – Along with business growth and as technologies evolve it's essential to maintain an IT environment that will support key business functions. At some point during an organization's life span, the need to renovate business systems becomes a must. Agility regularly scopes these endeavors, keeping “business case”, budgets and future needs at the forefront of our planning.
Virtualization Projects – Choosing the right virtualization technology can be a daunting task. Let Agility help you think-through your options and design the most appropriate virtualization solution for your business.
Cloud Migrations – Moving to a cloud based environment is a serious move that is less simple than many providers claim. Agility explores these moves thoroughly in order to establish the best plan and ensure that there is a full understanding of the cost, business operation and usability implications of such a move.
New Office Moves – With proper timing and communication we help companies have fluid transitions from one location to the next.  A lot of planning takes place so that down time is kept to a minimum and your employees are 'ready to go' at your new office space.
Network Design and Implementation – Our consultants become familiar with organization’s particular needs and business goals. We have the knowledge and experience to collaboratively design sound and reliable network systems in order to ensure maximum reliability, efficiency and scalability.
Multiple Branch Locations – Designing, deploying and supporting multiple offices can be a complex task, but with proper planning and execution it can turn into a seamless process.
Wi-Fi Implementations – Although a relatively ubiquitous element of network systems these days, not all equipment or solutions are 'one size fits all'. We properly assess with onsite surveys, addressing security and wireless business needs.

	</div>

  <div> 
    <p> Need a custom project not on our site. Give us a call or shoot us an email here for futher  conversation </p>
   </div> 