.main{background-image:url("http://i42.photobucket.com/albums/e330/DeePrncss/chicago-by-night-1.jpg?t=1192996218"); height:600px; width:100%; text-align:center; font-family:Apple Chancery; color:white;}



h1{font-family:Apple Chancery; font-size:72px; color:red; text-shadow: 2px 2px white;}

.main h2 {color:white;font-size:35px; text-shadow: 1px 1px red;}

ul{font-size:25px; font-family:Apple Chancery; color:white;}

background-image{height:600px; width:100%}

p{color:white;}

h2{text-align:center; font-family:Apple Chancery; font-weight:bold;color:white;}

body{background-color:grey;}

span li{font-family: Savoye LET; font-size: 40px; color:white;}

.container{padding-left:50px; padding-right:50px;}

.carousel-inner > .item > img{width:100%; height:360px;}

.col-md-4{border:1px solid white ; background-color:white; height:250px; width:350px; margin-left:62px; border-radius:25px;}

.nav nav-tabs > li{border:1px solid white;}

.footer{font-family:Arial;}






