<!DOCTYPE html>
<html >
<head>
  <title>Chiteck</title>

   <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

   <script>
   $(document).ready(function() {
   $('body').hide().fadeIn(10000);
 		});
	</script> 	
	

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	</head>

	<body>	

		

		<%= yield %>
		<br/>
		<br/>
		<br/>
		<br/>


		<div class="footer">

	
		<div class="raw">

			<div class="col-md-6">

			
				<p> Phone </p><br/>
				<p> email </p><br/>
				<p> Google + </p>
					

		</div>

			<div class="col-md-6">

		</div>
	</div>
</div>
</div>
</body>
</html>
